.unity-toggle:checked #unity-checkmark {
    background-image: url('/Assets/Sprites/UI/hidden.png');
}

.unity-toggle #unity-checkmark {
    background-image: url('/Assets/Sprites/UI/view.png');
}

.hidden {
	display: none;
}
